.shop_modal {
	background: #1a1d26;
	box-shadow: 0px 8px 54px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
    padding: 24px;
    width: 568px;
    position: absolute;
    left: 446px;
    bottom: 24px;

    .primary-btn {
        width: 100%;
        margin-top: 24px;
    }

    .shop_filter {
        box-sizing: content-box;
        margin-bottom: 24px;
        padding-bottom: 24px;
        border-bottom: 1px solid #484A60;
    }
}

.shop_modal_title {
    text-transform: uppercase;
    font-size: 15px;
    color: #fff;
    margin-bottom: 16px;
}

.shop_modal_cost_row {
    border: 1px dashed #484a60;
	padding: 8px;
	border-radius: 5px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 8px;
    margin-bottom: 24px;
}

.shop_modal_list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(135px, 1fr));
    grid-gap: 14px;
    overflow-y: scroll;
    height: 420px;
    width: calc(100% + 16px);
    padding-right: 16px;
}