.chat {
    position: absolute;
    bottom: 0;
    right: 0;
    top: 103px;
    background: #181B23;
    width: 400px;
    z-index: 15;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    padding-top: 19px;
    border-bottom: 1px solid #31343C;

    h2 {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
    }
}

.subtitle {
    margin-top: 3px;
    font-weight: 600;
    font-size: 13px;
    color: #575C74
}

.online {
    margin-left: 14px;
    font-weight: 600;
    font-size: 12px;
    color: #63EF13;
    padding: 6px 15px;
    background: rgba(47, 50, 65, .5);
    border-radius: 10px;
    display: flex;
}

.dot {
    display: block;
    border-radius: 50%;
    background: #63EF13;
    width: 5px;
    height: 5px;
    margin-right: 3px;
    margin-top: 3px;
}

.close {
    width: 40px;
    display: flex;
    justify-content: center;
}

.content {
    
}

.leftHeader {
    display: flex;
    flex-direction: column;
}

.messages {
    padding-top: 2px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.message {
    padding: 0 24px;

    & > div {
        padding: 16px 0;
        border-bottom: 1px solid #31343C;
        display: flex;
        width: 100%;
        align-items: flex-start;
    }
}

.messageList {
    height: calc(100vh - 440px);
    overflow-y: auto;
}

.messageText {
    
}

.sender {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.name {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

.messageText {
    margin-top: 7px;
    font-weight: bold;
    font-size: 13px;
    color: #BAC0D1;

    span {
        color: #A5B5DF;
    }
}

.time {
    font-weight: 600;
    font-size: 13px;
    color: #BAC0D1;
}

.alert {
    background: rgba(38, 189, 70, .1);
    position: relative;
    display: flex;
    align-items: flex-start;
    padding: 14px 48px 17px 21px;
    margin-top: 16px;

    div {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        display: block;
        height: 100%;
        width: 4px;
        background: #26BD46;
        box-shadow: 0px 0px 19px rgba(41, 212, 77, 0.46);
    }

    & > img {
        width: 55px;
        min-width: 55px;
    }
}

.alertTitle {
    font-weight: 600;
    font-size: 13px;
}

.alertText {
    margin: 8px 0 16px 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #BAC0D1;
}

.sendWrapper {
    padding: 0 24px;
    flex-grow: 1;
}

.giveaway {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px 0 27px;
    position: relative;
    border-bottom: 2px solid #1E2731;

    & > img {
        position: relative;
        top: -10px;
    }

    & > div {
        display: flex;
        align-items: center;
    }

    &:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(270deg, #2B441D 0%, rgba(43, 68, 29, 0) 73.83%);
        opacity: 0.8;
        z-index: -1;
    }

    &:after {
        content: "";
        width: 85px;
        height: 100%;
        top: 0;
        position: absolute;
        right: -30px;
        background: radial-gradient(50% 50.49% at 50% 49.51%, #336218 0%, rgba(51, 98, 24, 0) 92.64%);
    }
}

.effect {
    position: absolute;
    right: 0;
    height: 100%;
    width: 85px;
    top: 0;
    background: url("/img/chat/effect.png") no-repeat right center;
    mix-blend-mode: color-dodge;
}

.timer {
    font-weight: 600;
    font-size: 14px;
    color: #63EF13;
    display: block;
    margin-top: 11px;
}

.skin {
    height: 81px;
}

.giveawaySkin {
    position: relative;
    margin-right: 50px;

    img {
        &:first-child {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 117px;
        }
    }
}