.item_card_row {
	display: flex;
	justify-content: space-between;
}

.item_card {
	display: flex;
	flex-direction: column;
	background: #1e222c;
	border: 1px solid #2d3242;
	border-radius: 5px;
	padding: 16px 16px 10px 16px;
	height: 201px;

	&.active {
		position: relative;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 100%;
			background: rgba(30, 34, 44, 0.7) url("/img/general/choosen.svg") no-repeat center center;
			border: 1px solid #17B958;
			border-radius: 5px;
		}
	}
}

.item_cost {
	display: flex;
	align-items: center;
	color: #c3b321;
	font-size: 13px;
	font-weight: 700;
}

.item_cost img {
	width: 20px;
	height: 20px;
	margin-right: 8px;
}

.item_state {
	color: #575c74;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
}

.item_image {
	margin: 0 auto 24px;
	width: 100%;
	max-width: 130px;
}

.item_item_name {
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
}

.item_item_skin {
	text-align: center;
	font-size: 13px;
	color: #75777a;
	margin-top: 2px;
}