@media all and (max-width: 1700px) {
    main {
        padding-right: 24px;
    }

    .inventory-list {
        height: 596px !important;
    }

    .jackpot-main {
        height: auto;
        grid-template-areas:
            "A A A A"
            "B B C C";
        grid-template-columns: none;

        & > div {
            height: 172px;

            &:nth-child(1) {
                grid-area: A;
            }
    
            &:nth-child(2) {
                grid-area: B;
            }
    
            &:nth-child(3) {
                grid-area: C;
            }
        }
    }

    .support_page {
        grid-template-columns: 300px 1.5fr 1fr;
    }
}

@media all and (max-width: 1500px) {
    .profile_info_list {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .shop_modal_list {
        height: 210px;
    }

    .shop_modal {
        top: 50%;
        left: 50%;
        bottom: auto;
        transform: translate(-50%, -50%) scale(1) !important;
    }

    .wheel_right {
        grid-template-rows: auto 412px 1fr;
    }

    .wheel_bets {
        grid-template-columns: none;
    }

    .shop_filter {
        grid-template-columns: none;
        height: auto;

        & > * {
            height: 40px;
        }
    }

    .shop_page {
        grid-template-columns: 400px 1fr;
    }

    .wheel_bet_main {
        overflow-y: auto;
        max-height: 343px;
    }

    .support_page {
        grid-template-areas:
        "B B C C"
        "A A A A";
        height: auto;
    }

    .support_left {
        grid-area: A;
        height: 255px;
    }

    .support_middle {
        grid-area: B;
        max-height: 700px;
    }

    .support_right {
        grid-area: C;
    }

    .crash_bet_know {
        bottom: 16px;
        top: auto;
    }
}

@media all and (max-width: 1300px) {
    .statistics {
        grid-template-columns: 1fr 1fr;
        height: auto;
    }

    .deposit_right {
        width: 400px;
    }

    .statistics_metric {
        height: 70px;

        button {
            width: 100%;
        }
    }

    .jackpot-roulette__content {
        padding-top: 50px;

        .status {
            transform: translate(-50%, -40px);
        }
    }

    .support_page {
        grid-template-areas:
            "B B B"
            "C C C"
            "A A A";
        height: auto;
    }

    .support_right {
        height: 700px;
    }

    .shop-filter {
        grid-template-columns: 1fr 1fr 1fr 2fr;
    }

    div.jackpot-roulette {
        height: auto;
    }

    .crash_row {
        grid-template-columns: none;
    }

    .crash_main {
        height: 360px;
        background: url(/img/crash/bg_main.png) no-repeat left center / cover;
    }
}

@media all and (max-width: 1100px) {
    .jackpot__bet-heading {
        flex-direction: column;
        align-items: flex-start;

        & > div {
            &:last-child {
                margin-left: auto;
            }
        }
    }

    .jackpot-page {
        grid-template-areas:
            "B"
            "A";
    }

    .shop_right_list {
        max-height: 100%;
    }

    .content {
        height: auto;
    }

    .shop_page, .wheel-page {
        display: flex;
        grid-gap: 0;
    }

    .shop_left {
        width: 60%;
        margin-right: 24px;
    }

    .wheel_left {
        width: 40%;
        margin-right: 24px;
    }

    .wheel_left {
        display: flex;
        flex-direction: column;
        grid-gap: 0;
    }

    .wheel_ratio_choose {
        margin-bottom: 24px;
    }

    .wheel_right {
        width: 100%;
    }
}

@media all and (max-width: 1000px) {
    .crash-page,
    .profile_page,
    .wheel-page,
    .jackpot-page {
        grid-template-columns: none;
    }

    .wheel-page,
    .shop_page {
        flex-direction: column;
    }

    .wheel_left,
    .shop_left {
        width: 100%;
    }

    .crash_left,
    .profile_left,
    .wheel_left,
    .shop_left {
        margin-bottom: 24px;
    }

    .crash_prev_bets {
        width: 300px;
        overflow: hidden;
    }

    .shop_modal {
        width: 500px;
    }

    .settings_container {
        width: 350px;
    }
}

@media all and (max-width: 500px) {
    .primary-btn {
        font-size: 11px;
        padding: 12px 15px;
    }

    .settings_container  {
        width: 90%;
        right: 50%;
        transform: translateX(50%);
    }

    .support_page {
        grid-template-areas:
        "B"
        "C"
        "A";
        grid-template-columns: none;
    }

    .shop_modal {
        width: 90%;
    }

    .shop-filter {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .faq_page_card_title {
        font-size: 14px;
    }

    .card_current_bet_row {
        flex-wrap: wrap;
    }

    .crash_current_bets {
        grid-template-columns: none;
    }

    .crash_prev_bets {
        width: 250px;
    }

    .profile_info_list {
        grid-gap: 12px;
    }
    
    .support_card {
        padding: 0 12px;
    }

    .support_card_state {
        display: none;
    }

    .support_card_text {
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 11px;
    }

    .support_card_state,
    .shop_cost_block_title {
        font-size: 11px;
    }

    .support_card_theme,
    .shop_cost_block_text {
        font-size: 13px;
    }

    .faq_page_title {
        margin-top: 15px;
        font-size: 16px;
    }

    .support_message {
        width: 100%;
    }

    .statistics_metric h2 {
        font-size: 11px;
    }

    .statistics_metric {
        padding: 0 10px;
    }

    .jackpot-roulette__content {
        flex-direction: column;
        align-items: flex-start;
    }

    .jackpot-roulette__previous {
        margin-top: 15px;
    }

    main {
        padding: 12px !important;
    }

    .profile_info_list {
        grid-template-columns: 1fr 1fr;
    }

    .profile_withdraw_row input {
        width: 100%;
    }

    .graph {
        .line.big {
            width: 100px;
        }

        .line {
            width: 70px;
        }
    }
}