@mixin roundedDot {
    width: 9px;
    height: 9px;
    display: block;
    border-radius: 50%;
    background: #5E9A67;

    &.green {
        background: #5E9A67;
    }

    &.yellow {
        background: #EEA858;
    }

    &.blue {
        background: #4B83D3;
    }
}

.jackpot-page {
    display: grid;
    grid-template-columns: 398px 1fr;
    grid-gap: 24px;

    .inventory {
        position: sticky;
        top: 0;
    }

    .inventory-list {
        height: calc(100vh - 297px);
        overflow-y: auto;
    }
}

.grey-block {
    background: #1A1D26;
    border-radius: 5px;
}

.jackpot-main {
    display: grid;
    grid-template-columns: auto 213px 213px;
    grid-gap: 24px;
    margin: 24px 0;
    height: 172px;
}

.jackpot__bet {
    display: flex;
    flex-direction: column;
    padding: 17px 24px 17px 17px;
    
    &:not(:last-child) {
        margin-bottom: 5px;
    }

    .user-name {
        margin: 0 19px;
    }
}

.jackpot__bet-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;

    * {
        display: flex;
        align-items: center;
    }

    .ava {
        img {
            width: 62px;
        }
    }
}

.jackpot-bet__chance {
    font-weight: bold;
    font-size: 13px;
    color: #575C74;
    text-transform: uppercase;

    span {
        color: #BCC391;
        margin-left: 5px;
    }
}

.jackpot-bet__ticket {
    margin-left: 24px;
    background: #292E3A;
    border-radius: 5px;
    padding: 10px 22px;
    font-weight: 600;
    font-size: 13px;
    color: #575C74;

    span {
        color: #fff;
        margin-left: 5px;
    }
}

.jackpot__bet-items {
    margin-top: 14px;
}

.jackpot-block {
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    button {
        width: 100%;
    }

    .user-name {
        margin-top: 5px;
    }
}

.jackpot-avas {
    position: relative;
    overflow-x: hidden;
    width: 100%;
    height: 108px;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(270deg, #1A1D26 0%, rgba(26, 29, 38, 0) 46.92%, #1A1D26 100%);
        pointer-events: none;
        z-index: 1;
    }

    ul {
        display: flex;
        align-items: start;
        position: absolute;
        left: 0;
        top: 0;
        padding-top: 16px;
    }

    &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        z-index: 2;
        width: 22px;
        height: 100%;
        display: block;
        background: url("/img/jackpot/arrow.png") no-repeat center center / cover;
    }
}

.jackpot-roulette {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.jackpot-roulette__content {
    padding: 0 24px 24px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    div {
        display: flex;
        align-items: center;
    }

    .status {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        text-transform: uppercase;
        font-weight: bold;
        font-size: 13px;
    }
}

.jackpot-roulette__last {
    font-weight: bold;
    font-size: 13px;
    color: #575C74;
}

.jackpot-roulette__results {
    span {
        margin-left: 50px;
        position: relative;
        font-weight: bold;
        font-size: 13px;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(calc(-100% - 4px), -50%);
            @include roundedDot();
        }

        &.green {
            &::before {
                background: #5E9A67;
            }
        }
    
        &.yellow {
            &::before {
                background: #EEA858;
            }
        }
    
        &.blue {
            &::before {
                background: #4B83D3;
            }
        }
    }
}

.jackpot-roulette__previous {
    span {
        margin-left: 4px;
        @include roundedDot();
    }
}