// CSS ДЛЯ СТРАНИЦ
@import "history.scss";
@import "faq.scss";
@import "support.scss";
@import "profile.scss";
@import "shop.scss";
@import "wheel.scss";
@import "crash.scss";
@import "jackpot.scss";
// CSS ДЛЯ КОМПОНЕНТ
@import "../components/Inventory/main.scss";
@import "../components/modals/Deposit/main.scss";
@import "../components/Statistics/main.scss";
@import "../components/Item/main.scss";
@import "../components/Dropdown/main.scss";
// CSS ДЛЯ МОДАЛОК
@import "../components/modals/Settings/main.scss";
@import "../components/modals/Notification/main.scss";
@import "../components/modals/Shop/main.scss";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
}

body {
	font-family: "Inter", sans-serif;
	color: #ffffff;
	background: #12151c;
	overflow-x: hidden;
}

button {
	border: 0;
	outline: none;
	cursor: pointer;
	transition: all 0.3s ease;
	background: transparent;
}

a {
	text-decoration: none;
	color: #fff;
}

.primary-btn {
	padding: 12px 32px;
	font-weight: 600;
	font-size: 13px;
	text-transform: uppercase;
	background: #23b843;
	border-radius: 5px;
	color: #fff;

	&:hover {
		background: #49d066;
	}

	&.yellow {
		background: #8a793b;
		
		&:hover {
			background: #B8B335;;
		}
	}

	&.blue {
		background: #204ffe;

		&:hover {
			background: #4d72ff;
		}
	}

	&.disabled {
		background: #292E3A;
		color: #575C74;
	}
}

.secondary-btn {
	background: #2f3241;
	border-radius: 10px;
	height: 40px;
	display: flex;
	align-items: center;

	&:hover {
		background: #2a2c38;
	}

	&:active {
		background: #3a3d50;
	}

	&.selected {
		background: #aea11a;
		border: 1px solid #dac917;
	}
}

.content {
	padding-top: 103px;
	height: 100%;
	width: 100%;
	position: relative;
	height: 100vh;
	overflow-x: hidden;
}

li {
	list-style-type: none;
}

main {
	height: 100%;
	padding: 24px;
	padding-right: 423px;
	overflow-y: auto;
	transition: all .3s ease;
}

.full main {
	padding-right: 24px !important;
}

.full-width {
	main {
		padding-right: 24px;
	}

	.chat {
		transform: translateX(100%);
	}

	.chat-switcher {
		position: absolute;
		top: 134px;
		left: 0;
		transform: translateX(-100%);
	}
}

.center {
	display: flex;
	align-items: center;
}

input {
	border: 0;
	background: transparent;
	outline: none;
	color: #fff;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track {
	background: transparent;
	width: 3px;
}

::-webkit-scrollbar-thumb {
	background: #3a3d4a;
	border-radius: 10px;
	width: 3px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

h5 {
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	text-transform: uppercase;
}

.grey-block {
    background: #1A1D26;
    border-radius: 5px;
}

.user-name {
    font-weight: 600;
    font-size: 14px;
}

.user-balance {
    font-weight: bold;
    font-size: 13px;
    color: #C4B321;
	display: flex;
	align-items: center;

    img {
        width: 19px;
        margin-right: 4px;
    }
}

// MODALS
.modal-container {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background: #000;
	z-index: 20;
	background: rgba(26, 29, 38, 0.6);
	display: flex;
	align-items: center;
	justify-content: center;

	.line {
		width: 100%;
		height: 1px;
		background: #262934;
		margin: 39px 0 42px;
	}
}

.modal {
	transform: scale(.95);
	transition: all .2s ease;
	box-shadow: 0px 8px 54px rgba(0, 0, 0, 0.5);
}

.modal-close {
	position: absolute;
	right: 26px;
	top: 26px;
	cursor: pointer;
	transition: all .2s ease;

	&:hover {
		filter: invert(100%) sepia(1%) saturate(2%) hue-rotate(172deg) brightness(106%) contrast(100%);
	}
}

.modal-enter {
    opacity: 0;
}

.modal-enter-active {
    opacity: 1;
    transition: all .2s;

	.modal {
		transform: scale(1);
	}
}

.modal-enter-done {
    opacity: 1;

	.modal {
		transform: scale(1);
	}
}

.modal-exit-active {
    opacity: 0;
    transition: all .2s;
}

.modal-exit-done {
    opacity: 0;
}

.checkbox {
	font-weight: 600;
	font-size: 13px;
	line-height: 16px;
	display: flex;
	align-items: center;
	cursor: pointer;

	input {
		display: none;

		&:checked {
			& + div {
				&:before {
					right: calc(100% - 22px);
					background: #4B4F62;
				}
			}
		}
	}
}

.checkbox-state {
	background: #2F3241;
	border-radius: 10px;
	width: 50px;
	margin-right: 11px;
	height: 28px;
	position: relative;

	&:before {
		content: "";
		position: absolute;
		width: 16px;
		height: 16px;
		display: block;
		background: #F6A33E;
		border-radius: 5px;
		right: 6px;
		transition: all .3s ease;
		top: 50%;
		transform: translateY(-50%);
	}
}

.primary-input_wrapper {
    display: flex;
    align-items: flex-end;
    margin-top: 50px;
}

.primary-input {
	width: 100%;
    height: 70px;
    background: #2A2C38;
    border-radius: 5px;
    position: relative;

    input {
        height: 100%;
        width: 100%;
        padding-left: 24px;
        padding-right: 88px;
    }

    button {
        position: absolute;
        right: 24px;
        top: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(-50%);
        background: #3A3D4A;
        border-radius: 10px;
    }
}

.ava {
    position: relative;

    path {
        width: 58px;
    }
}

.playerStatus {
    position: absolute;
    left: 8px;
    bottom: 8px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #17DA3C;
    border: 2px solid #181B23;
}

.auth-btn {
	width: 305px;
	background: #8D7653;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: 41px;

	img {
		width: 24px;
		margin-right: 8px;
	}

	&:hover {
		background: #8D7653;
	}
}