.profile_page {
	display: grid;
	grid-template-columns: auto 347px;
	grid-column-gap: 25px;
}

.profile_info_list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 25px;
}

.profile_left {
	display: flex;
	flex-direction: column;
}

.profile_info_card {
	height: 191px;
	border: 1px dashed #484a60;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.profile_info_card_title {
	font-size: 13px;
	color: #575c74;
	margin-bottom: 8px;
	text-transform: uppercase;
}

.profile_info_card_text {
	font-weight: bold;
	font-size: 18px;
	display: flex;
	align-items: center;
}

.profile_info_card_text img {
	margin-right: 8px;
}

.profile_info_card_image_block {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 16px;
	height: 72px;
}

.profile_inventory {
	background: #1a1d26;
	padding: 24px;
	margin-top: 25px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
}

.profile_inventory_list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 14px;
}

.profile_withdraw {
	background: #1a1d26;
	padding: 32px 35px;
	border-radius: 5px;
}

.profile_right {
	width: 100%;
}

.profile_withdraw {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.profile_withdraw_logo {
	width: 152px;
	height: 152px;
	background: cyan;
	margin-bottom: 32px;
}

.profile_withdraw_row {
	height: 40px;
	display: flex;
	align-items: center;
	margin-bottom: 16px;

	input {
		padding-left: 16px;
		width: 230px;
		height: 100%;
		border: 1px solid #2e3340;
		box-sizing: border-box;
		border-radius: 5px;

		&::placeholder {
			font-size: 13px;
			color: #575c74;
		}
	}

	button {
		width: 40px;
		height: 100%;
		background: #2f3241;
		border-radius: 5px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: 8px;

		&:hover {	
			background: #5F6262;
		}
	}
}

.referal_title {
	color: #575c74;
	font-size: 15px;
	margin-bottom: 32px;
}

.profile_referal {
	background: #1a1d26;
	border-radius: 5px;
	padding: 32px 24px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 24px;
}

