.profile_page {
	display: grid;
	grid-template-columns: auto 347px;
	grid-column-gap: 25px;
}

.profile_info_list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 25px;
}

.profile_left {
	display: flex;
	flex-direction: column;
}

.profile_info_card {
	height: 191px;
	border: 1px dashed #484a60;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.profile_info_card_title {
	font-size: 13px;
	color: #575c74;
	margin-bottom: 8px;
	text-transform: uppercase;
}

.profile_info_card_text {
	font-weight: bold;
	font-size: 18px;
	display: flex;
	align-items: center;
}

.profile_info_card_text img {
	margin-right: 8px;
}

.profile_info_card_image_block {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 16px;
	height: 72px;
}

.profile_inventory {
	background: #1a1d26;
	padding: 24px;
	margin-top: 25px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
}

.profile_inventory_list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 14px;
	margin-top: 23px;
}

.profile_withdraw {
	background: #1a1d26;
	padding: 32px 35px;
	border-radius: 5px;
}

.profile_right {
	width: 100%;
}

.profile_withdraw {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.profile_withdraw_logo {
	width: 152px;
	height: 152px;
	background: cyan;
	margin-bottom: 32px;
}

.profile_withdraw_row {
	height: 40px;
	display: flex;
	align-items: center;
	margin-bottom: 16px;

	input {
		padding-left: 16px;
		width: 230px;
		height: 100%;
		border: 1px solid #2e3340;
		box-sizing: border-box;
		border-radius: 5px;

		&::placeholder {
			font-size: 13px;
			color: #575c74;
		}
	}

	button {
		width: 40px;
		height: 100%;
		background: #2f3241;
		border-radius: 5px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: 8px;

		&:hover {
			background: #5f6262;
		}
	}
}

.referal_title {
	color: #575c74;
	font-size: 15px;
	margin-bottom: 32px;
}

.profile_referal {
	background: #1a1d26;
	border-radius: 5px;
	padding: 32px 24px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 24px;

	button {
		text-transform: uppercase;
		width: 100%;
		padding: 12px 0;
		border: 1px solid #f69f1d;
		border-radius: 5px;
		font-size: 13px;
		color: #fff;
		font-weight: 600;
		margin-bottom: 28px;
	}
}

.level_progress {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 158px;
	height: 127px;

	img {
		position: absolute;
	}

	.block {
		margin-top: 20px;
		text-align: center;
		padding: 14px;
		border: 1px dashed #2f3241;
		border-radius: 50%;
	}

	h2 {
		font-size: 13px;
	}

	p {
		color: #747992;
		font-size: 13px;
		text-transform: uppercase;
		font-weight: 600;
	}

	.line {
		margin: 8px 0;
		width: 100%;
		height: 1px;
		background: #2f3241;
	}
}

.earned {
	margin-top: 35px;
	text-align: center;
	margin-bottom: 14px;

	h2 {
		font-weight: 600;
		color: #575c74;
		text-transform: uppercase;
		font-size: 13px;
	}

	p {
		color: #23b843;
		font-weight: 600;
		font-size: 20px;
		margin-top: 9px;
	}
}

.level {
	margin-bottom: 50px;
	width: 100%;

	.row {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 27px;

		p {
			display: flex;
			align-items: center;
			font-size: 13px;
			color: #c3b321;

			img {
				margin-right: 8px;
			}
		}

		span {
			color: #5a5936;
			margin: 0 5px;
		}

		h2 {
			color: #575c74;
			font-size: 13px;
			font-weight: 600;
			text-transform: uppercase;
		}
	}
}

.graph {
	display: flex;
	position: relative;
	align-items: center;

	.line {
		background: #2f3241;
		border-radius: 10px;
		height: 5px;
		width: 80px;

		&.big {
			position: relative;
			width: 126px;

			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 70%;
				border-radius: 10px 0px 0px 10px;
				background: #87bc2c;
			}
		}
	}
	.vertical_line {
		margin: 0 4px;
		height: 24px;
		width: 2px;
		background: #2f3241;
		position: relative;
	}

	.graph_img {
		position: absolute;
		left: 70px;
		top: 73%;
		transform: translateY(-50%);
		z-index: 99;
	}

	.default::before,
	.second_green::before,
	.green::before {
		font-weight: 600;
		font-size: 11px;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		top: 30px;
	}

	.default::before {
		content: "1000";
		color: #575c74;
	}

	.green::before {
		content: "1250";

		color: #31bf48;
	}

	.second_green::before {
		content: "1500";

		color: #31bf48;
	}
}

.referal_footer {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	.referal_footer_title {
		margin-bottom: 8px;
		font-size: 13px;
		font-weight: 600;
		color: #575c74;
		text-transform: uppercase;
	}

	&_cont {
		border: 1px dashed #484a60;
		box-sizing: border-box;
		border-radius: 5px;
		padding: 12px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.margin {
			margin-right: 24px !important;
		}

		h2 {
			font-weight: 600;
			font-size: 13px;
			margin-right: 12px;
			max-width: 118px;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		img {
			cursor: pointer;
		}
	}
}
